<h1>作品詳細</h1>
    <div class="container" id="show"></div>
    <div class="row">
    <table class="mx-auto">
    <% @reviews.each do |review| %>
    <div class="border">
    <tr>
      <td><%= link_to review.title, public_review_path(review.id) %></td><td><%= review.evaluation %></td>
    </tr>
    <tr>
      <td class="border"><%= review.review %></td>
    </tr>
    </div>
    <% end %>
    </table>
    <div class="right">
    <%= form_with model: @review, url: new_public_review_path, method: :get  do |f| %>
    <%= f.hidden_field :movie_id %>
    <%= f.submit "レビューを投稿する" %>
    <% end %>
    </div>

    </div>
    <div class="contianer">
      <div class="row">
        <div class="col-md-1 offset-md-4">
         <div>公開タグ</div>
        </div>
        <div class="col-md-5 border">
          <div>タグ</div>
        </div>
        <div class="col-md-2">
          <%= link_to "タグを追加する", homes_about_path %>
        </div>
      </div>
    </div>

