<h1>レビュー詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1">
    <div id="movie"></div>
     <table class="col-md-6">
    <div class="border">
    <tr>
      <td><%= @review.title%></td><td>評価：<%= @review.evaluation %>/10点</td>
    </tr>
    <tr>
      <td class="border"><%= @review.customer.name %></td><td><%= @review.review %></td>
    </tr>
    <tr>
    <% if current_customer == @review.customer %>
       <td><%= link_to "レビューを削除する", hidden_public_reviews_path, method: :patch, data: {confirm: "本当に削除しますか？"} %></td>
    <% elsif current_customer !=  @review.customer %>
       <td><%= link_to "レビューを通報する", report_public_reviews_path, method: :patch, data: {confirm: "本当に通報しますか？"} %></td>
    <% end %>
    </tr>
    </div>
    </table>
    </div>

    <table class="col-md-4">
    <tr><th>コメント一覧</th></tr>
    <% @comments.each do |comment| %>
    <div class="border">
    <tr>
      <td><%= comment.customer.name %></td>
    </tr>
    <tr>
      <td><%= comment.comment %></td>
    </tr>
    <tr>
    <% if current_customer == comment.customer %>
       <td><%= link_to "削除する", hidden_public_comments_path, method: :patch, data: {confirm: "コメントを削除しますか？"} %></td>
    <% elsif current_customer !=  comment.customer %>
       <td><%= link_to "通報する", report_public_comments_path, method: :patch, data: {confirm: "コメントを通報しますか？"} %></td>
    <% end %>
    </tr>
    </div>
    <% end %>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
        <div class="col-md-6 offset-md-1">
        <%= form_with model: @comment, url: public_comments_path do |f| %>
        <h3>コメント新規投稿</h3>
        <%= f.text_area :comment %>
        <%= f.hidden_field :review_id %>
        <%= f.submit "コメントを投稿する" %>
        <% end %>
      </div>
  </div>
</div>