<!DOCTYPE html>
<html>
  <head>
    <title>GYapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<header class="navbar-dark bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LOOK－HOR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-link -light">
        <%= link_to "作品一覧", public_movies_path %>
      </li>
        <% if customer_signed_in? %>
        <li class="nav-link">
          <%= link_to "マイページ", public_customer_path(current_customer_id) %>
        </li>
        <li class="nav-link" href="/">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
        <% elsif admin_signed_in? %>
        <li class="nav-link">
          <%= link_to "会員一覧", admin_customers_path %>
        </li>
        <li class="nav-link">
          <%= link_to "通報レビュー一覧", report_admin_reviews_path %>
        </li>
        <li>
          <%= link_to "通報コメント一覧", report_admin_review_comments_path %>
        </li>
        <li class="nav-link">
          <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
        <% else %>
        <li class="nav-link">
          <%= link_to "新規会員登録", new_admin_registration_path %>
        </li>
        <li class="nav-link">
          <%= link_to "ログイン", new_admin_session_path %>
        </li>
        <% end %>
      </ul>
      <li>
      <form id="form">
        <input type="text" id="search" class="search" placeholder="Search">
      </form>
      </li>
    </div>
  </div>
</nav>
</header>

    <main id="main">
    <%= yield %>
    </main>

 <footer class="footer">
   <div class="container">
    <div class="row">
     <div class="mx-auto fixed-bottom">
       <p class="text-center">CopyRight TMDB.inc</p>
     </div>
    </div>
    </div>
  </footer>

</body>
</html>
